/* App */
@font-face {
  font-family: 'CHONBUKL';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/CHONBUKL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.Main{
  font-family: 'CHONBUKL', sans-serif;
  position: fixed;
  background-image: url("/public/desktop.gif");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.sound {
  position: absolute;
  top: 35%;
  left: 80%;
  color:rgb(208, 213, 216)
}

.sound img{
  width: 60px;
  height: 60px;
  margin: 15px;
}

.Main h2{
  position: absolute;
  color:white;
  width: 452px;
  height: 82px;
  top: 50%;
  right: 10%;
  font-size: 2.5rem;
  font-weight: lighter;
  color: #D6FF32;
}

.Main h1{
  position: absolute;
  color:white;
  font-size: 144px;
  font-weight: 500;
  line-height: 77.25px;
  top: 50%;
  right: 12%;
}

.firstText {
  line-height: 50%;
}

.caution {
  text-align: center;
  line-height: 10%;
  font-size: small;
  color: white;
  margin-right: 20px;
  margin-bottom: 50px;
  position: relative;
  top: 80%;
  left: 60%;
  transform: translateX(-50%);
}

.mainButton {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  left: 82%;
  top: 65%;
  transform: translateX(-50%);
}

.mainButton button {
  font-family: 'CHONBUKL', sans-serif;
  background-color: #D6FF32;
  border: none;
  border-radius: 15px;
  padding: 15px 40px;
  font-size: medium;
  color: black;
  font-weight: bold;
}

.mainButton button:hover{
  background-color: #d6ff328f;
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .sound {
    top: 20%;
  }

  .Main h2 {
    top: 40%;
  }

  .Main h1 {
    top: 40%;
  }

  .caution {
    top: 75%;
    left: 50% ;
  }

  .mainButton {
    top: 70%;
    left: 50%;
  }

  .mainButton button {
    padding: 20px 100px;
  }
}

@media screen and (max-width: 481px) {
  .sound {
    top: 10%;
  }

  .sound img {
    width: 40px;
    height: 40px;
    margin: 15px;
  }
  
  .Main h2 {
    left: 10%;
    top: 25%;
    font-size: 30px;
  }

  .Main h1 {
    left: 10%;
    top: 25%;
    font-size: 100px;
    font-weight: 600;
  }

  .caution {
    top: 74%;
    left: 50%;
    font-size: 9px;
  }

  .mainButton {
    top: 70%;
    left: 50%;
  }

  .mainButton button {
    padding: 20px 80px;
    font-size: 28px;
  }
}