@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.Main {
  font-family: 'Pretendard-Regular', sans-serif;
  position: fixed;
  background-image: url('/public/desktop.gif');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.sound {
  position: absolute;
  top: 35%;
  left: 80%;
  color: rgb(208, 213, 216);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #d6ff32;
  }
  50% {
    transform: scale(1.2);
    color: #c63fcd;
  }
  70% {
    transform: scale(1);
    color: #d6ff32;
  }
}

.sound img {
  width: 60px;
  height: 60px;
  margin: 15px;
}

.Main h2 {
  position: absolute;
  color: white;
  width: 452px;
  height: 82px;
  top: 50%;
  right: 10%;
  font-size: 2.5rem;
  font-weight: lighter;
  color: #d6ff32;
}

.Main h1 {
  position: absolute;
  color: white;
  font-size: 144px;
  font-weight: 500;
  line-height: 77.25px;
  top: 50%;
  right: 12%;
}

.firstText {
  line-height: 50%;
}

.caution {
  text-align: center;
  line-height: 10%;
  font-size: small;
  color: white;
  margin-right: 20px;
  margin-bottom: 50px;
  position: relative;
  top: 80%;
  left: 60%;
  transform: translateX(-50%);
}

.mainButton {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  left: 82%;
  top: 65%;
  transform: translateX(-50%);
}

.mainButton button {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: #d6ff32;
  border: none;
  border-radius: 15px;
  padding: 15px 40px;
  font-size: medium;
  color: black;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mainButton button:hover {
  transform: scale(1.1);
  background-color: #88a221;
}

.mainButton button:active {
  transform: scale(0.95);
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .sound {
    top: 20%;
  }

  .Main h2 {
    top: 40%;
  }

  .Main h1 {
    top: 40%;
  }

  .caution {
    top: 75%;
    left: 50%;
  }

  .mainButton {
    top: 70%;
    left: 50%;
  }

  .mainButton button {
    padding: 20px 100px;
  }
}

@media screen and (max-width: 481px) {
  .sound {
    top: 10%;
    left: 55%;
  }

  .sound img {
    width: 40px;
    height: 40px;
    margin: 15px;
  }

  .Main h2 {
    left: 10%;
    top: 10%;
    font-size: 30px;
  }

  .Main h1 {
    left: 10%;
    top: 10%;
    font-size: 100px;
    font-weight: 600;
  }

  .caution {
    top: 75%;
    left: 50%;
    font-size: 9px;
  }

  .mainButton {
    top: 40%;
    left: 50%;
  }

  .mainButton button {
    padding: 20px 80px;
    font-size: 25px;
  }
}
